@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Oswald:wght@300;400&display=swap');

@font-face {
  font-family: 'allround';
  font-weight: 500;
  src: url('./assets/fonts/allroundgothic-thick.otf');
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #f3f5fa;
  padding-top: 110px;
}

body.menu-open {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 128px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    padding-top: 176px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  padding-top: 36px;
}

address {
  font-style: normal;
}

@media screen and (min-width: 768px) {
  section {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding-top: 120px;
  }
}
